<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923900600941-rjoimbl3nuvbnl6fllacev3gu1k3rt07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923900600941-rjoimbl3nuvbnl6fllacev3gu1k3rt07</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>923900600941-7qvtcmaaj9bvi7fj04u7nuthb86lqi6t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfLLkpnYm7x76K-m6y_tuRrktV1e1k8d4</string>
	<key>GCM_SENDER_ID</key>
	<string>923900600941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oekhost.directpackaging.flutter</string>
	<key>PROJECT_ID</key>
	<string>directpackaging-5c850</string>
	<key>STORAGE_BUCKET</key>
	<string>directpackaging-5c850.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923900600941:ios:c44dd3055d7db8883ad564</string>
</dict>
</plist>